.add_todo {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;

  .inputText {
    width: 300px;
    height: 30px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
  }

  .add_button {
    width: 50px;
    height: 30px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: .3s;
    pointer-events: none;
    
    &.isActive {
      background-color: #3670ef;
      color: #fff;
      cursor: pointer;
      pointer-events: auto;
  }

    &:hover {
      transition: .3s;
      opacity: 0.7;
    }
  }
}

