.button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 30px;
  padding: 4px;
  color: white;
  background-color: #c85555;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    opacity: 0.7;
  }
}

.inActiveButton {
  display: none;
}
