.main {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  .counter_main {
    padding: 8px 12px;
    width: 100%;
  }

  .count {
    margin-bottom: 30px;
    font-size: 36px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}
